.header__contacts__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__link--color {
    color: var(--main-grey);
}

.header__link--color:hover {
    color: var(--main-blue);
}

.header__icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.header__icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}