

.customers {
    
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.customers__frame {
    display: none;
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    color: #afb1b8;
    fill: currentColor;
    border-radius: 4px;
    margin-right: 30px;
    margin-block: 50px 90px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        border-color: var(--main-blue);
        fill: var(--main-blue);
    }

}

