footer {
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.footer__wrap {
    display: flex;
    padding-top: 60px;
    align-items: flex-start;
}

.footer__wrap2 {
    display: inline-block;
    margin-right: 70px;
}

