.h2-our-team-index {
    display: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
   /* display: flex;*/
    justify-content: center;
    padding-top: 94px;
}

.what__we__do {
    display: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    /*display: flex;*/
    justify-content: center;
    padding-top: 94px;
}

.h2-our-customers {
    display: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    /*display: flex;*/
    justify-content: center;
    padding-top: 94px;
}

.h4_footer {
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
}

.modal-h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-black);
    margin-top: 2px;
    margin-bottom: 12px;
}