.header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 350px 20px 345px;
}

.header--box {
    border-bottom: 1px solid var(--border-color);
}
