.newsletter {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: flex-end;
    width: 570px;
    padding-bottom: 20px;
    margin-left: 78px;
}

.newsletter__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
    transition: var(--cubic-bezier);
}

.newsletter__input {
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: var(--newsleter-background);
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--main-white);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.newsletter__button {
    font-family: 'Roboto';
    font-style: normal;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--main-white);
    background-color: var(--main-blue);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 42px;
}

.newsletter__icon {
    position: relative;
    left: 20px;
    top: 5px;
}