* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover,
a:focus {
    color: var(--main-blue);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container__slot {
    width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
}